.navbar {
    background-color: #fff;
}

.navbar-brand .logo {
    height: 60px;
}

.nav-link {
    border-bottom: 2px solid transparent;
    transition: 0.2s ease;
    font-weight: bold;
    position: relative;
}

h2 {
    font-weight: bolder;
}

@media(min-width: 992px) {
    .nav-link:hover:after {
        content: '';
        position: absolute;
        width: 100%;
        border-bottom: 3px solid #ed3137;
        top: 62px;
    }
}

@media(min-width: 768px) {
    h2.text-center {
        margin-bottom: 30px;
    }
}

.submenu {
    background-color: rgb(219, 220, 225);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.submenu-wrapper a {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    color: grey;
    text-decoration: none;
}

.submenu-wrapper a:active, .submenu-wrapper a:focus {
    color: black;
}

@media(min-width: 769px) {
    .visible-md {
        display: none;
    }
}

.hero-image {
    background-image: url('img/slider2_small.jpg');
    background-position: 0 -160px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-image h2 {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    font-size: 40px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.hero-image p {
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    font-size: 25px;
}

.statistics-item {
    width: 50%;
    height: 100px;
    display: flex;
    align-items: flex-start;
    padding: 10px 15px;
    flex-direction: column;
}

.statistics-item p {
    margin-bottom: 0;
}

.green {
    color: rgb(50, 188, 69);
}

section {
    padding-top: 50px;
    padding-bottom: 25px;
}

.offer {
    background-color: rgb(248, 248, 248);
}

.jumbotron.hero-image {
    margin-bottom: 0;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.btn-red-border {
    border: 1px solid rgb(238, 49, 56);
    background-color: #fff;
    font-weight: bold;
    transition: 0.2s ease;
}

.btn-red-border:hover, .btn-transparent:hover {
    background-color: aliceblue;
}

.btn-red-border .fa-chevron-down {
    font-size: 12px;
}

.btn-wrapper {
    margin-top: 20px;
}

/* https://bootsnipp.com/snippets/featured/rounded-buttons */

.btn-round-big {
    border-radius: 22.5px;
    padding: 0.375rem 2.75rem;
}

.btn-round {
    border-radius: 17px;
    padding: 0.375rem 2.75rem
}

.btn-gradient {
    background: rgb(238, 49, 56);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(238, 49, 56, 1) 0%, rgba(241, 98, 102, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(238, 49, 56, 1) 0%, rgba(241, 98, 102, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(238, 49, 56, 1) 0%, rgba(241, 98, 102, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee3138', endColorstr='#f16266', GradientType=1);
    /* IE6-9 */
    color: white;
    transition: 0.3s ease;
    border: none;
}

.btn-gradient:hover {
    background: rgb(241, 98, 102, 1);
    /* Old browsers */
    background: -moz-linear-gradient(right, rgba(238, 49, 56, 1) 0%, rgba(241, 98, 102, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(right, rgba(238, 49, 56, 1) 0%, rgba(241, 98, 102, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to left, rgba(238, 49, 56, 1) 0%, rgba(241, 98, 102, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee3138', endColorstr='#f16266', GradientType=1);
    /* IE6-9 */
    color: white;
    transition: 0.3s ease;
    border: none;
}

.btn-gradient:hover {
    background-color: rgba(238, 49, 56, 1);
}

.btn-pink {
    background-color: rgb(245, 186, 188);
    color: rgb(240, 69, 77);
    font-weight: bold;
    border: 2px solid transparent;
}

.btn-pink:hover {
    border: 2px solid red;
}

.btn-transparent {
    background-color: white;
    border: 2px solid black;
    font-weight: bold;
}

.btn-transparent:hover {
    border: 2px solid grey;
}

.opinion-wrapper {
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.opinion blockquote {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    max-width: 500px;
    padding-top: 40px;
    font-size: 20px;
}

.opinion blockquote:before {
    content: '"';
    position: absolute;
    display: inline;
    font-size: 38px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* - todo - find better font */
    top: 0;
}

.opinion blockquote p {
    margin-bottom: 10px;
}

.short-info {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.benefits-list {
    display: flex;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.benefits-list li {
    padding: 5px 10px;
}

.whatWeDo {
    list-style-type: none;
    padding-left: 0;
}

.whatWeDo li {
    margin-top: 10px;
}

.fa-check {
    color: green;
}

.contact-list {
    list-style-type: none;
    padding-left: 0;
}

.contact-list li {
    margin-bottom: 10px;
}

.contact-info {
    /* todo - change to correct picture */
    color: white;
    z-index: 9999;
    position: relative;
    background-color: rgb(238, 49, 56);
    background-image: url('./img/office_red.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact-info-img {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
}

/* https://www.ostraining.com/blog/coding/responsive-google-maps/ */

.map-responsive {
    overflow: hidden;
    padding-bottom: 400px;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.benefit-wrapper {
    border: 1px solid red;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    margin-bottom: 10px;
}

.fa-trophy, .fa-clock, .fa-smile {
    color: rgb(238, 49, 56);
}

.big-number {
    font-size: 30px;
    font-weight: bold;
    display: block;
}

.offer-menu a {
    text-decoration: none;
    color: grey;
}

.offer-menu a:active, .offer-menu a:focus {
    color: black;
}

.footer {
    justify-content: space-between;
}

.footer a {
    color: black;
}

.red {
    color: rgb(238, 49, 56);
}

.blue {
    color: rgb(29, 122, 253);
}

@media(min-width: 992px) {
    .offer-wrapper {
        max-width: calc(50% - 15px);
        align-items: flex-end;
        margin-left: 15px;
    }
}

.offer-wrapper {
    padding: 0;
    height: 170px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 15px;
}

.offer-img {
    max-width: 50%;
    height: 100%;
}

.offer-text {
    padding: 10px 15px;
    height: 100%;
    width: 100%;
}

.offer-name {
    float: left;
    font-size: 1.2rem;
}

.offer-price {
    float: right;
    margin-bottom: 0;
}

.offer-car-info {
    clear: both;
}

.offer-hyperlink {
    color: rgb(238, 49, 56);
    text-decoration: none;
    font-weight: bold;
}

.offer-hyperlink:active, .offer-hyperlink:focus {
    color: rgb(238, 49, 56);
}

@media (max-width: 768px) {
    .navbar-brand .logo {
        height: 40px;
    }
}

.img-background {
    background-image: url('./img/audi-audi-r8-auto-533562.jpg');
    padding-top: 70px;
    padding-bottom: 70px;
    background-position: center;
}

.img-background p {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    color: white;
    font-weight: bold;
    max-width: 500px;
}

.gallery-images img {
    height: 200px;
}

.gallery .btn {
    margin-top: 30px;
}

.prices-list-info {
    list-style-type: none;
}

.services-list li {
    list-style-type: none;
}

.services-list h3 {
    font-size: 1.1rem;
}

.services-list .icon-wrap {
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-bottom: 50px;
    margin-right: 15px;
    margin-top: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 249, 234);
}

.services-list .fa-check {
    color: green;
}

@media(max-width: 992px) {
    .services-list .icon-wrap {
        margin-right: 15px;
        float: left;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(235, 249, 234);
    }
}

.what-is-autodetailing h2 {
    margin-bottom: 30px;
}

.what-is-autodetailing img {
    border-radius: 5px;
}

.services-list-info {
    margin-left: auto;
    margin-right: auto;
}

.services-list-info li {
    list-style-type: none;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.services-list-info li:last-child {
    border-bottom: 1px solid lightgray;
}

.services-list-info a {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 5px;
    position: relative;
    width: 100%;
    display: block;
    font-weight: bold;
    color: grey;
}

.services-list-info a:hover {
    background-color: aliceblue;
}

.services-list-info a:active, .services-list-info a:focus {
    color: rgb(238, 49, 56);
}

.services-list-info a:active:before, .services-list-info a:focus:before {
    content: "›";
    display: inline;
    position: absolute;
    left: 10px;
    top: -1px;
    font-size: 27px;
}

.prices-list-info {
    padding-left: 0;
}

.prices-list-info li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.prices-list-info li:before {
    content: '';
    position: absolute;
    bottom: .4rem;
    width: 100%;
    height: 0;
    line-height: 0;
    border-bottom: 2px dotted black;
}

.prices-list-info-price {
    font-weight: bold;
    background: white;
    position: absolute;
    min-width: 4rem;
    bottom: 0;
    right: 0;
    padding-left: .2rem;
    text-align: right;
    z-index: 2;
}

.prices-list-info-name {
    font-weight: bold;
    background: white;
    min-width: 4rem;
    bottom: 0;
    right: 0;
    padding-right: .2rem;
    text-align: right;
    z-index: 2;
    text-align: left;
}

.contact h2 {
    margin-bottom: 30px;
}

.phone-number {
    display: inline-block;
    white-space: nowrap;
}

.phone-number .fa-mobile-alt {
    color: rgb(29, 122, 253);
}

@media(min-width: 992px) {
    .phone-number {
        order: 1;
    }
}