<div class="row">
    <div class="col-sm">
        <h3>
            Zajmujemy się szeroko pojętym Auto detailingiem
        </h3>
        <ul class="whatWeDo">
            <li>
                <i class="fas fa-check"></i>
                Mycie zewnętrzne
            </li>
            <li>
                <i class="fas fa-check"></i>
                Pranie i konserwacja wnętrz
            </li>
            <li>
                <i class="fas fa-check"></i>
                Zabiegi lakiernicze
            </li>
            <li>
                <i class="fas fa-check"></i>
                Renowacja reflektorów
            </li>
            <li>
                <i class="fas fa-check"></i>
                Renowacja lakieru
            </li>
        </ul>
    </div>
    <div class="col-sm-7 benefits">
        <h3>
            Nasze zalety
        </h3>
        <ul class="benefits-list">
            <li>
                <div>
                    <div class="benefit-wrapper">
                        <i class="fas fa-trophy"></i>
                    </div>
                    <b>Profesjonalizm</b>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <div class="benefit-wrapper">
                        <i class="fas fa-clock"></i>

                    </div>
                    <b>Terminowość</b>
                    <p>
                        Ad neque dignissimos voluptate.
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <div class="benefit-wrapper">
                        <i class="fas fa-smile"></i>
                    </div>
                    <b>Satysfakcja</b>
                    <p>
                        Fugiat voluptate enim, veritatis eos.
                    </p>
                </div>
            </li>
        </ul>
        <div>
            <div class="row">
                <div class="col">
                    <h3>
                        Cennik usług
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet
                    </p>
                </div>
                <div class="col">
                    <button class="btn btn-round btn-pink">
                        Cennik
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center btn-wrapper">
    <button class="btn btn-round btn-transparent">
        Pokaż więcej
        <i class="fas fa-chevron-down fa-xs"></i>
    </button>
</div>