<div class="row">
    <div class="col-md-6">
        <h3>
            Zajmujemy się szeroko pojętym Auto detailingiem
        </h3>
        <ul class="whatWeDo">
            <li>
                <i class="fas fa-check"></i>
                Mycie zewnętrzne
            </li>
            <li>
                <i class="fas fa-check"></i>
                Pranie i konserwacja wnętrz
            </li>
            <li>
                <i class="fas fa-check"></i>
                Zabiegi lakiernicze
            </li>
            <li>
                <i class="fas fa-check"></i>
                Renowacja reflektorów
            </li>
            <li>
                <i class="fas fa-check"></i>
                Renowacja lakieru
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <hr class="visible-md">
        <h3>
            Cennik usług
        </h3>
        <p>
            Lorem ipsum dolor sit amet
        </p>
        <button class=" btn btn-round btn-pink ">
            Cennik
        </button>
    </div>
    <div class="col benefits ">
        <hr>
        <h3>
            Nasze zalety
        </h3>
        <ul class="benefits-list row ">
            <li class="col-md-4 ">
                <div class="benefit-wrapper ">
                    <i class="fas fa-trophy "></i>
                </div>
                <b>Profesjonalizm</b>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </li>
            <li class="col-md-4 ">
                <div class="benefit-wrapper ">
                    <i class="fas fa-clock "></i>

                </div>
                <b>Terminowość</b>
                <p>
                    Ad neque dignissimos voluptate.
                </p>
            </li>
            <li class="col-md-4 ">
                <div class="benefit-wrapper ">
                    <i class="fas fa-smile "></i>
                </div>
                <b>Satysfakcja</b>
                <p>
                    Fugiat voluptate enim, veritatis eos.
                </p>
            </li>
        </ul>
    </div>
</div>
<div class="text-center btn-wrapper ">
    <button class="btn btn-round btn-transparent ">
        Pokaż więcej
        <i class="fas fa-chevron-down fa-xs "></i>
    </button>
</div>