<div class="row">
    <div class="col-sm">
        <h3>
            Aktualne oferty sprzedaży aut używanych
        </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat fuga, quasi atque molestias beatae quos sapiente rem cum
            hic minima dolorem voluptatibus officia quibusdam ducimus maxime doloremque quisquam! Soluta, laudantium.
        </p>
    </div>

    <div class="col-lg-6 offer-wrapper d-flex">
        <img src="https://thumbs.img-sprzedajemy.pl/1000x901c/11/fb/52/opel-antara-z-polskiego-salonu-bogate-150km-malopolskie-chrzanow-475732673.jpg"
            class="offer-img" alt="antara">
        <div class="offer-text">
            <h4 class="offer-name">
                Opel Antara
            </h4>
            <p class="offer-price">
                31000 PLN <br>
                <span>brutto</span>
            </p>
            <p class="offer-car-info">
                2.0 litra, TDI 170 km
            </p>
            <a href="#" class="offer-hyperlink">
                Zobacz ofertę
                <i class="fas fa-arrow-right"></i>
            </a>
        </div>
    </div>

    <div class="col-lg-6 offer-wrapper d-flex">
        <img src="https://thumbs.img-sprzedajemy.pl/1000x901c/11/fb/52/opel-antara-z-polskiego-salonu-bogate-150km-malopolskie-chrzanow-475732673.jpg"
            class="offer-img" alt="antara">
        <div class="offer-text">
            <h4 class="offer-name">
                Opel Antara
            </h4>
            <p class="offer-price">
                31000 PLN <br>
                <span>brutto</span>
            </p>
            <p class="offer-car-info">
                2.0 litra, TDI 170 km
            </p>
            <a href="#" class="offer-hyperlink">
                Zobacz ofertę
                <i class="fas fa-arrow-right"></i>
            </a>
        </div>
    </div>

    <div class="col-lg-6 offer-wrapper d-flex">
        <img src="https://thumbs.img-sprzedajemy.pl/1000x901c/11/fb/52/opel-antara-z-polskiego-salonu-bogate-150km-malopolskie-chrzanow-475732673.jpg"
            class="offer-img" alt="antara">
        <div class="offer-text">
            <h4 class="offer-name">
                Opel Antara
            </h4>
            <p class="offer-price">
                31000 PLN <br>
                <span>brutto</span>
            </p>
            <p class="offer-car-info">
                2.0 litra, TDI 170 km
            </p>
            <a href="#" class="offer-hyperlink">
                Zobacz ofertę
                <i class="fas fa-arrow-right"></i>
            </a>
        </div>
    </div>


</div>
<div class="text-center btn-wrapper">
    <button class="btn btn-round btn-transparent">
        Pokaż więcej
        <i class="fas fa-chevron-down fa-xs"></i>
    </button>
</div>