<div class="row">
    <div class="col-sm">
        <h3>
            Aktualne oferty sprzedaży aut używanych
        </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat fuga, quasi atque molestias beatae quos sapiente rem cum
            hic minima dolorem voluptatibus officia quibusdam ducimus maxime doloremque quisquam! Soluta, laudantium.
        </p>
    </div>
</div>
<div class="text-center btn-wrapper">
    <button class="btn btn-round btn-transparent">
        Pokaż więcej
        <i class="fas fa-chevron-down fa-xs"></i>
    </button>
</div>